/* CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 14px;
  --sky-bl-500: #38bdf8;
  --sky-bl-600: #0284c7;
  --main-bg-cl: #eff6ff;
  --yello-cl: #facc15;
  --card-para-cl: #4d4d4d;
  --title-cl-black: #030712;
  --trend-sky-light: #e0f2fe;
  --trending-bg-pink: #fca5a5;
  --trending-bg-neutral: #bbf7d0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 10fr;
}

.sidebar {
  grid-row: 1 / 3;
  position: fixed;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 20%;
  height: 100%;
  background: linear-gradient(var(--sky-bl-500), var(--sky-bl-600));
  padding: 20px 30px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sidebar--dashboard-wrapper {
  display: flex;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar--dashboard-wrapper > img {
  width: 50px;
  height: 50px;
}

.admin--nav-links div,
.setting--nav-links div {
  display: flex;
  color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.admin--nav-links div > img,
.setting--nav-links div > img {
  width: 30px;
  height: 30px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.header--nav__top {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.form {
  display: flex;
  gap: 12px;
  width: 60%;
  align-items: center;
}

input {
  width: 100%;
  border-radius: 15px;
  background-color: var(--main-bg-cl);
  padding: 8px;
}

.header img {
  width: 25px;
}

.profile-pic {
  border-radius: 50%;
}

.profile__top {
  width: 2.5rem !important;
  height: 40px;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 900;
}

.header--nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

.profile__down {
  width: 3.5rem !important;
}

.nav--text__greeting {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header--admin-greeting {
  font-weight: 900;
  font-size: 0.9rem;
}

.header--admin-name {
  font-weight: 900;
  font-size: 1.3rem;
}

.header--nav-list {
  display: flex;
  gap: 20px;
}

.header--nav-list a {
  padding: 8px 20px;
  background-color: var(--sky-bl-500);
  border-radius: 30px;
  width: 6rem;
  text-align: center;
}

li {
  list-style-type: none;
  color: #ffffff;
  font-weight: 900;
}

.main {
  background-color: var(--main-bg-cl);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  grid-column: 2 / 3;
  grid-row: 2/ 3;
  padding: 28px 20px 48px;
}

.main-article--heading {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px 25px;
  border-radius: 16px;
  position: relative;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--yello-cl);

}
.card:hover{
    scale: 1.016;
}

.card--title {
  font-weight: 900;
  font-size: 1.6rem;
}

.card--title + p {
  color: var(--card-para-cl);
}

.card--icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 40px;
}

.card--icons img {
  height:160px;
  width: auto;
}

.announcement--heading {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.announcement--container {
  background-color: #ffffff;
  margin-bottom: 33px;
  padding: 24px 28px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.announcement-title {
  font-weight: 900;
}

.announcement-title + p {
  color: var(--card-para-cl);
  font-size: 0.84rem;
}

.announcement-1 {
  padding-bottom: 12px;
  padding-left: 4px;
  border-bottom: 0.5px solid #6a6969;
}

.announcement-2 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 4px;
  border-bottom: 0.5px solid #6a6969;
}

.announcement-3 {
  padding-top: 12px;
  padding-left: 4px;
}

.trending--heading {
  margin-bottom: 7px;
  font-size: 1.2rem;
}

.trending--container {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.trending-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  font-size: 0.8rem;
}

.trending-content img {
  width: 36px;
  border-radius: 50%;
}

.trending-text p:first-of-type {
  font-weight: 500;
}